 
// Colors
$blackColor: rgb(26,26,26);
$whiteColor: rgb(232,232,232);

$background: rgb(229,227,201);
$light: rgb(180, 207, 176);
$dark: rgb(148,180,159);
$gray: rgb(120,147,149);
$tableRows: rgb(230,230,230);

$navLink: rgb(70,70,70);
$navLinkHover: rgb(120,120,120);
$cardBackground: rgb(242,242,242);

// Fonts
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: 'Times New Roman', Times, serif;

// Other
$shadow: 3px 3px 8px 0px rgba(0,0,0, 0.3);
$iconShadow: drop-shadow(2px 2px 2px rgba(0,0,0, 0.2));

// Tooltips
$tooltipArrow: 6px;
$tooltipMargin: 8px;
$tooltipText: rgb(232,232,232);
$tooltipBackground: rgb(26,26,26);