@import '../../styles/variables.scss';

.layoutHeader {
    width: 100%;
    padding: 0.5em 1em;
    display: flex;
    height: 64px;
    position: fixed;
    align-items: center;
    background-color: $gray;
    box-shadow: $shadow;
    z-index: 1;
}