@import '../../styles/variables.scss';

.layoutNav {
    padding: 1em;
    background: $dark;
    box-shadow: $shadow;
    @media (max-width: 700px) {
        padding-top: 64px;
    }
    @media (min-width: 700px) {
        position: fixed;
        width: 220px;
        height: calc(100% - 64px);
        overflow: hidden;
    }

    .navList {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 2;
        a {
            text-decoration: none;
            font-weight: bold;
            font-size: 1em;
            color: $navLink;
        }
        a:visited {
            color: $navLink;
        }
        a:hover,
        a:focus {
            color: $navLinkHover;
        }
    }
}