@import '../../styles/variables.scss';

.gamesTable {
    width: 100%;
    border: none;

    .tableBody {
        tr:nth-child(even) {
            background-color: $tableRows;
        }

        tr {
            &:hover {
                background-color: $light;
                cursor: pointer;
            }
        }
    }
}