@import '../styles/variables.scss';

.gamesPage {
    .topBar {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;

        .iconButton {
            height: 4em;
            width: 4em;

            svg {
                color: $dark;
                filter: $iconShadow;
            }

            &:hover {
                svg {
                    color: $light;
                }
            }
        }
    }
}